Name: Darshil Dhandhukia

Roll No: C010

Subject: DENS

BTech EXTC

Aim: For determining a number represented by multiple mod values using Chinese Remainder Theorem

In [ ]:
#this code is for multiplicative inverse.
def multi_inv(n,a): #n is for mod n value
  r1 = n #x column value initialization
  r2 = a #y column value initialization
  x1 = int(1)
  x2 = int(0)
  y1 = int(0)
  y2 = int(1)

  while r2>0: #till the time r2 is non-zero we need to keep dividing
    q = r1 // r2 #"//" is for floor division, "q" is for finding the quotient
    r = r1 - (q*r2) #for remainder.
    r1 = r2 #from here the next step starts. here we assign r2 value to r1 and the new remainder value to r2.
    r2 = r
    x = x1 - (q*x2)
    x1 = x2
    x2 = x
    y = y1 - (q*y2)
    y1 = y2
    y2 = y

  if y1<0: #this if loop is used when we get a negative number as the multiplicative inverse.
    y1 = y1 % n
  return y1

In [ ]:
#Chinese raminader theorem to determine unknown number
m1, m2, m3, m4 = input("Enter m1, m2, m3 and m4: ").split() #here the user will input the 4 modular numbers and then we will split the numbers
#converting the numbers to int
m1 = int(m1)
m2 = int(m2)
m3 = int(m3)
m4 = int(m4)

a1, a2, a3, a4= input("Enter a1, a2, a3 and a4: ").split()
a1 = int(a1)
a2 = int(a2)
a3 = int(a3)
a4 = int(a4)

Enter m1, m2, m3 and m4: 10 13 7 11
Enter a1, a2, a3 and a4: 4 6 4 2

In [ ]:
M = m1*m2*m3*m4
M1 = M/m1
M2 = M/m2
M3 = M/m3
M4 = M/m4

In [ ]:
M2

770.0

In [ ]:
M1_inv = multi_inv(m1, M1)
M2_inv = multi_inv(m2, M2)
M3_inv = multi_inv(m3, M3)
M4_inv = multi_inv(m4, M4)

In [ ]:
M1_inv

1.0

In [ ]:
M2_inv

9.0

In [ ]:
M3_inv

4.0

In [ ]:
M4_inv

7.0

In [ ]:
X = (a1*M1*M1_inv) + (a2*M2*M2_inv) + (a3*M3*M3_inv) + (a4*M4*M4_inv)
#since value of X is more than mod value we do the below step
X = X % M
X = int(X)
print("Unknown number is: ", X)

Unknown number is:  1124

##Conclusion:
Any value A mod M can have A represented in terms of {a1,a2...ak} and M = m1*m2*...*mk 

This is true only if all mi that make up M are relatively prime to each other